.footer {
    background-color: #222;
    /*height: 30px;*/
    color: white;
    padding: 20px;
}

.sidebar {
    background-color: lightgray;
    height: 100%;
}

.contentBox {
    padding-bottom: 80px;
}